/* Only affect the browser UI and not anything else */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#appcontent,
#appcontent > #content,
#appcontent > #content > tabbox > tabpanels {
	background: #223355 !important;
}

a:active {
	outline: none !important;
}

.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down,
toolbarbutton#appmenu-toolbar-button,
toolbarbutton#alltabs-button,
toolbarbutton#new-tab-button,
.tab-icon-image,
.tabs-closebutton-box,
.tabs-border-bottom,
.tab-close-button {
	display: none !important;
}

tabs#tabbrowser-tabs, tabs#tabbrowser-tabs * {
	-moz-appearance: none !important;
	border-radius: 0px !important;
	border: none !important;
	border-bottom: 0px none !important;
	background-image: none !important;
	margin-top: 0px !important;
	max-height: 21px !important;
	min-height: 21px !important;
}

tabs#tabbrowser-tabs {
	background: #223355 !important;
	padding-top: 0px !important;
	margin-left: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border-bottom: 0px none !important;
	text-align: center !important;
	/*box-shadow: inset 0px -4px 2px rgba(0,0,0,0.1) !important;*/
}

.tabbrowser-tab {
	max-height: 11px !important;
	margin-left: 0px !important;
	padding-top: 1px !important;
	color: #99AACC !important;
	border-bottom: 0px none !important;
	background: #223355 !important;
	/*box-shadow: inset 0px -4px 2px rgba(0,0,0,0.1) !important;*/

}

.tabbrowser-tab[selected=true] {
	color: #FBFEFF !important;
	background: #223355 !important;
	border-bottom: 0px none !important;
	box-shadow: none !important;
}

.tabbrowser-tab .tab-text {
	/* margin-left: 3px !important; */
	/* margin-right: 3px !important; */
	/* margin-top: 2px !important; */
	font-family: Open Sans Semibold !important;
	font-size: 10pt !important;
}

/* Hide the new curved tab edges */
.tab-background {
	opacity: 0 !important;
}

/* Hide the little graphic seperator between inactive tabs */
.tabbrowser-tab:before,
.tabbrowser-tab:after {
	visibility: hidden !important;
}

html {
	overflow: hidden;
}

#urlbar dropmarker,
#identity-box,
#star-button,
#go-button,
.tab-throbber,
.tabs-newtab-button,
.tab-throbber[progress] {
	display: none !important;
}

.titlebar-placeholder[type="caption-buttons"] {
	margin-left: 10px !important;
}

.tabbrowser-tabs:not([drag=detach]) > .tabbrowser-tab:not([pinned])[fadein] {
	min-width: 30px !important;
	max-width: 130px !important;
}

.searchbar-engine-image {
	display: none !important;
}
.search-go-button {
	display: none !important;
}

#nav-bar {
	background-image: none !important;
	background-color: #223355 !important;
	border: none !important;
	margin-bottom: 0 !important;
	padding: 0 !important;
}

#url-bar {
	background: none !important;
	border: none !important;
	border-radius: 1px 0 0 0 !important;
	margin: 0 !important;
	box-shadow: none !important;
	color: #2F3969 !important;
}
#statusbar-display { display: none !important; }


#back-button { display: none; }
#forward-button { display: none; }
#urlbar-reload-button { display: none; }
#urlbar-go-button { display: none; }
#urlbar-stop-button { display: none; }
#reader-mode-button { display: none; }

#nav-bar {
	/* background: #223355 !important; */
	/* border: 0px #FFFFFF!important; */
	/* box-shadow: none !important; */
	height: 26px !important;
	position: fixed !important;
	bottom: 0 !important;
	width: 100% !important;
	font-family: Open Sans Semibold !important;
	font-size: 10pt !important;
}

#urlbar {
	background-color: #223355 !important;
	color: #FBFEFF!important;
	text-align: center !important;
	border-radius: none 0px !important;
	border: none !important;
	margin: 0 0 0 0 !important;
	height: 26px !important;
	width: 2000px !important;
	padding-bottom: 1px !important;
	padding-left: 20px;
}

findbar {
	position: fixed !important;
	width: 100% !important;
	bottom: 26px !important;
	background-color: #223355 !important;
	border: none 0px !important;
	font-family: Open Sans Semibold !important;
	font-size: 10pt !important;
	color: #FBFEFF !important;
}

.findbar-container [anonid="highlight"],
.findbar-container [anonid="find-case-sensitive"],
.findbar-container [anonid="found-matches"] {
	display: none !important;
}

.findbar-container [anonid="find-status"] {
	color: #FBFEFF !important;
}

.findbar-closebutton,
.findbar-find-previous,
.findbar-find-next {
	display: none !important;
}

.findbar-textbox {
	font-family: Open Sans Semibold !important;
	font-size: 10pt !important;
	color: #FBFEFF !important;
	background-color: #223355 !important;
}

#content browser {
	margin-bottom: 26px;
}

/* Action text such as "Switch to Tab" */
.ac-action-text {
	color: #8BB3D9 !important;
}

.ac-action-text[selected="true"] {
	background-color: #8BB3D9 !important;
	color: #223355 !important;
}

.ac-url-text {
	color: #8BB3D9 !important;
}

.ac-url-text[selected="true"] {
	background-color: #8BB3D9 !important;
	color: #223355 !important;
}

#PopupAutoCompleteRichResult .autocomplete-richlistitem {
	background-color: #223355 !important;
	color: #FBFEFF !important;
}

#PopupAutoCompleteRichResult .autocomplete-richlistitem[selected="true"] {
	background-color: #556699 !important;
	color: #FBFEFF !important;
}

.tabbrowser-tab [anonid="soundplaying-icon"] {
	display: none !important;
}

statuspanel {
	bottom: 26px !important;
	position: fixed !important;
}

.statuspanel-label {
	border: none !important;
	background: #223355 !important;
	color: #FBFEFF !important;
	font-family: Open Sans Semibold !important;
	font-size: 10pt !important;
}

statuspanel[type=overLink], statuspanel[inactive][previoustype=overLink] {
	-moz-transition: none !important;
}
