#############################################################
#                   Global Gitignore
# Set by: git config --global core.excludesfile ~/.gitignore
#############################################################

# Vim's YouCompleteMe plugin
.ycm_extra_conf.py
.ycm_extra_conf.pyc

# Cscope files

cscope.files
cscope.in.out
cscope.out
cscope.out.in
cscope.out.po
cscope.po.out

# Ctags
tags
