URxvt*loginShell: true
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1
URxvt.scrollBar: false

URxvt.font: xft:Consolas:pixelsize=12
Xft.dpi: 96
Xft.antialias: 1
Xft.rgba: rgb
Xft.hinting: 1
Xft.hintstyle: hintfull

URxvt*termName: rxvt-256color
URxvt*xftAntialias: true

URxvt*background:     #3f3f3f
URxvt*foreground:     #dcdccc
URxvt*cursorColor:    #aaaaaa
URxvt*underlineColor: #dfaf8f
URxvt*colorUL:        #569999
URxvt*color0:         #3f3f3f
URxvt*color1:         #cc9393
URxvt*color2:         #7f9f7f
URxvt*color3:         #d0bf8f
URxvt*color4:         #6ca0a3
URxvt*color5:         #dc8cc3
URxvt*color6:         #93e0e3
URxvt*color7:         #dcdccc
URxvt*color8:         #000000
URxvt*color9:         #dca3a3
URxvt*color10:        #bfebbf
URxvt*color11:        #f0dfaf
URxvt*color12:        #8cd0d3
URxvt*color13:        #dc8cc3
URxvt*color14:        #93e0e3
URxvt*color15:        #ffffff
