URxvt*termName        : rxvt-256color
URxvt*loginShell      : true
URxvt.perl-ext-common : default,matcher,clipboard
URxvt.url-launcher    : /usr/bin/firefox
URxvt.matcher.button  : 1
URxvt.scrollBar       : false

#define normal -benis-uushi-medium-r-normal--11-90-75-75-p-58-iso10646-1, \
               -misc-fixed-medium-r-normal-ja-0-0-75-75-c-0-iso10646-1

URxvt.font            : normal
URxvt.boldFont        : normal
URxvt.italicFont      : normal
URxvt.bolditalicFont  : normal

URxvt*background      : #1D1F21
URxvt*foreground      : #C5C8C6
URxvt*color0          : #282A2E
URxvt*color1          : #A54242
URxvt*color2          : #8C9440
URxvt*color3          : #DE935F
URxvt*color4          : #5F819D
URxvt*color5          : #85678F
URxvt*color6          : #5E8D87
URxvt*color7          : #707880
URxvt*color8          : #373B41
URxvt*color9          : #CC6666
URxvt*color10         : #B5BD68
URxvt*color11         : #F0C674
URxvt*color12         : #81A2BE
URxvt*color13         : #B294BB
URxvt*color14         : #8ABEB7
URxvt*color15         : #C5C8C6
