URxvt*termName        : rxvt-256color
URxvt*loginShell      : true
URxvt.perl-ext-common : default,matcher,clipboard
URxvt.url-launcher    : /usr/bin/firefox
URxvt.matcher.button  : 1
URxvt.scrollBar       : false

Xft.antialias: 1
Xft.autohint:  0
Xft.dpi:       96
Xft.hinting:   1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba:      rgb

#define normal xft:DejaVu Sans Mono:style=Book:size=9:antialias=true,xft:Kozuka Gothic Pro:style=M:antialias=true,xft:Baekmuk Gulim:style=Regular:antialias=true
#define bolded xft:DejaVu Sans Mono:style=Bold:size=9:antialias=true,xft:Kozuka Gothic Pro:style=Bold:antialias=true,xft:Baekmuk Gulim:style=Bold:antialias=true

URxvt.font           : normal
URxvt.boldFont       : bolded
URxvt.italicFont     : normal
URxvt.bolditalicFont : normal

URxvt*background     : #223355
URxvt*foreground     : #FBFEFF

URxvt*color0         : #2F3969
URxvt*color1         : #556699
URxvt*color2         : #7788BB
URxvt*color3         : #99AACC
URxvt*color4         : #8BB3D9
URxvt*color5         : #A5867B
URxvt*color6         : #805F6B
URxvt*color7         : #F6F9FA

URxvt*color8         : #425094
URxvt*color9         : #7188cc
URxvt*color10        : #97aced
URxvt*color11        : #bfd4ff
URxvt*color12        : #b3daff
URxvt*color13        : #cc907a
URxvt*color14        : #b38495
URxvt*color15        : #fbfeff
