@font-face {
  font-family:'Open Sans Semibold';
  font-weight:600;
  font-style:normal;
}

* {
  -moz-box-sizing:border-box;
}

body {
  background-color:#223355;
  background:0 0 center cover fixed;
}

.container {
  text-align:center;
  width:100%;
  height:100%;
  position:fixed;
}

.container:before {
  content:'';
  display:inline-block;
  height:100%;
  vertical-align:middle;
  margin-right:-.25em;
}

.wrapper {
  display:inline-block;
  vertical-align:middle;
  background-color:#223355;
  border:solid 5px;
	border-color:#556699;
  color:#FBFEFF;
  font-family:'Open Sans Semibold';
  font-size:10pt;
}

.wrapper .name {
  font-size:4rem;
  width:100%;
  margin:0 auto;
}

.wrapper ul {
  float:left;
  list-style:none;
  padding:32px;
}

.wrapper ul a {
  color:#FBFEFF;
  text-decoration:none;
}

.wrapper ul a:hover {
  color:#7788BB;
}

@media only screen and max-width 600px {
  .container {
    position:relative;
  }

  .wrapper {
    width:70%;
  }

  .wrapper .name {
    font-size:2rem;
  }

  .wrapper ul {
    float:none;
    clear:both;
    margin:0 auto;
    padding:16px;
  }
}

.wrapper h1 {
  font-family:'Kozuka Gothic Pro M';
	color:#FBFEFF;
  font-size:32pt;
	padding: 0;
	padding-top: 10px;
	margin: 0;
}

.wrapper h1, ul {
	margin: 0;
}

ul.reddit {
  color:#8BB3D9;
}

ul.main {
  color:#8BB3D9;
}
